$color-primary:#3E54A3;
$color-button:#ED2C49;

$bp-largest:63.75em;// 1020px
$bp-large:53.13em;  // 850px
$bp-medium:42.5em;  //680px
$bp-small:34.3em;   // 548
$bp-smallest:29.9em;  //478


html{
    padding:0;
    margin:0;
}
*,*::before,*::after{
    box-sizing: inherit;
}
body{
    box-sizing:border-box;
    font-size: 62.5%; // 10px=1rem 
    font-family: 'Barlow', sans-serif;
    font-family: 'Heebo', sans-serif;
    overflow-x: hidden;

    @media screen and (max-width:$bp-large){
       font-size:50%;   //8px
    }
    @media screen and (max-width:$bp-medium){
        font-size:40%;
    }
    @media screen and (max-width:$bp-small){
        font-size:38% ;
    }

}
