.header__start{
    height:2.5rem;
    background-color: #3E54A3;
    text-align:center;
    font-family: Heebo;
    font-size:1rem;
    color:white;
    padding:.5rem;
    &--link{
        -webkit-text-decoration: underline white;
                text-decoration: underline white;
        color:white;
    }
   &--link:hover{
    color:white;
    text-decoration:none;
   }
   @media screen and (max-width:$bp-medium){
    width:100%;
    padding-right:0rem;
   }
   @media screen and (max-width:$bp-small)
   {
       width: 100vw;
   }
   @media screen and (max-width:$bp-smallest){
    font-size: .7rem;
    }
}
.header__navbar{
    height:auto;
    // box-sizing: border-box;
    clear: both;
    font-family: Barlow;
    border-bottom:solid #3E54A3 1px;
    margin-bottom: 1rem;
    padding-bottom: 0;
    // display: flex;
    // flex-direction: row;
    // justify-content: space-between;
     font-weight: 700;
     font-style: italic;
    //  border:solid $color-primary 1px;
    @media screen and (max-width:$bp-large){
        // display: flex;
        // flex-direction: column;
        border: none;
       
        // justify-content: flex-start;
    }
    @media screen and (max-width:$bp-medium){
     display: -webkit-box;
     display: -ms-flexbox;
     display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        border: none;
       
        // justify-content: flex-start;
    }

&--heading{
     font-family: Heebo;
     font-weight: 500;
    //  border:wavy pink 1px;

    @media screen and (max-width:$bp-large){
    display: none;
    }
    &-1{
        -webkit-text-decoration: underline wavy pink 2px;
                text-decoration: underline wavy pink 2px;
       
    }
}
&-order{
    float: right;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    font-family:Barlow;
    @media screen and (max-width:$bp-large){
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-transform:scaleX(0);
        -ms-transform:scaleX(0);
            transform:scaleX(0);
    -webkit-transition:all .1s;
    -o-transition:all .1s;
    transition:all .1s;
    position: absolute;
    background-color: white;
        top:5rem;
        right:3rem;
        z-index:10;
        border:solid $color-primary 1px;
    }
    @media screen and (max-width:$bp-medium){
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: reverse;
            -ms-flex-direction: column-reverse;
                flex-direction: column-reverse;
        -webkit-transform:scaleX(0);
            -ms-transform:scaleX(0);
                transform:scaleX(0);
        -webkit-transition:all .1s;
        -o-transition:all .1s;
        transition:all .1s;
        position: absolute;
        width:100%;
        background-color: white;
        top:10rem;
        z-index:20;
        border:none;
        left:1rem;
   
    }
   
    @media screen and (max-width:$bp-small){
        left:0rem;
        width:100vw;

    }
}
&--logo{
    float:left;
    margin-left:2rem;
    font-size: 1.5rem;
    height:5rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    @media screen and (max-width:$bp-large){
                 margin-left:0px;
                
            }
  
   
}

&-git{
    position:relative;
    border-radius: 20rem;
    color:white;
    font-weight: 500;
    font-size:1.1rem;
    font-family: Barlow;

    
    font-style:italic;
    background-color:#24292E;
    padding: .3rem;
    margin-left: 1rem;
    margin-top:1.2rem;
    -webkit-transition: all .2s;
    -o-transition: all .2s;
    transition: all .2s;
    &:hover{
        -webkit-transform:scale(1.1);
            -ms-transform:scale(1.1);
                transform:scale(1.1);
        -webkit-box-shadow: 2px 1px 4px black;
                box-shadow: 2px 1px 4px black;
    }
    &:focus{
        outline:none;
    }
  
  
    @media screen and (max-width:$bp-large){
    border: none;
    color:black;
    background: white;
    // margin: auto;   
    // margin-right: .5rem;
   
    margin-left:1rem;
       
}

}
&-ul{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    // justify-content: flex-end;
    // margin-left: auto;
    font-size: 1.1rem;
    padding:1.2rem;
    @media screen and (max-width:$bp-large){
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        font-weight: 500;
        padding:0px;
        // padding:.3;
    }
}
&-list{
    margin-left:1rem;
    position: relative;
    -webkit-transition: all .2s;
    -o-transition: all .2s;
    transition: all .2s;
  
  
    // border-bottom: solid $color-button 1px;
    

    @media screen and (max-width:$bp-large){
    border-bottom:solid $color-primary 1px;
    padding-top:1rem;
     display: -webkit-box;
     display: -ms-flexbox;
     display: flex;
     -webkit-box-orient: horizontal;
     -webkit-box-direction: normal;
         -ms-flex-direction: row;
             flex-direction: row;
    // margin:0;

    } 
}
&-link{
    text-decoration: none;
    font-family: Barlow;
    color:black;
    font-weight: 700;
    font-style:italic;
    &:hover{
        color: black;
    }

}

&-list::after{
    content:"";
    position:absolute;
    background-color: $color-button;
    height:2px;
    width:3px;
     
    
    -webkit-transform: scaleX(0);
     
    
        -ms-transform: scaleX(0);
     
    
            transform: scaleX(0);
    -webkit-transform-origin: center;
        -ms-transform-origin: center;
            transform-origin: center;
    -webkit-transition: width .4s cubic-bezier(.74,-0.07,.46,1.16) .2s, 
    -webkit-transform .2s;
    transition: width .4s cubic-bezier(.74,-0.07,.46,1.16) .2s, 
    -webkit-transform .2s;
    -o-transition: transform .2s, 
    width .4s cubic-bezier(.74,-0.07,.46,1.16) .2s;
    transition: transform .2s, 
    width .4s cubic-bezier(.74,-0.07,.46,1.16) .2s;
    transition: transform .2s, 
    width .4s cubic-bezier(.74,-0.07,.46,1.16) .2s, 
    -webkit-transform .2s;// width .4s delay
    @media screen and (max-width:$bp-large){
     background-color: white;
    }
 
}
&-list:hover::after{
    -webkit-transform:scaleX(1);
        -ms-transform:scaleX(1);
            transform:scaleX(1);
    width:100%;
}
}

ul{
    list-style: none;
    text-decoration: none;
    font-style: italic;
    // font-weight: 500;
}
.icon-nav{
    margin-right:1rem;
    margin-left:1rem;
    display: none;
    @media screen and (max-width:$bp-large){
     display: inline-block;
    margin-left: 0%;
    }
    @media screen and (max-width:$bp-medium)
    {
      display:inline-block;
      margin-left: 0;
  
    }
}
.icon-nav-1{// for github icon
    margin-right:.3rem;
  
}
.navbar-img{
    @media screen and (max-width:$bp-large){
    display: block;
    border-right:solid $color-primary 1px;
    border-top:solid $color-primary 1px;
    border-bottom:solid $color-primary 1px;
     width:130%;
     height:130%;
     padding: 1.5rem;
    }
}
.git{
    @media screen and (max-width:$bp-large){
        border-bottom:solid $color-primary 1px;
    }}
.checkbtn-1{
    font-size: 2.5rem;
    float:right;
    position:relative;
    left:0;
    line-height:80px;
    margin-left:40px;
    cursor: pointer;
    display: none;
    @media screen and (max-width:$bp-large){
    display: block;
    -ms-flex-item-align: end;
        align-self: flex-end;
    top:0;
    border: solid $color-primary 1px;
    padding-right:1.5rem;
    padding-left: 1.5rem;
}
@media screen and (max-width:$bp-medium){
   position: absolute;
   top:2.5rem;
   left:24rem;
}
@media screen and (max-width:$bp-small){
   left:22rem;
  }
  @media screen and (max-width:$bp-smallest){
    left:13rem;
   }
}
#check{
    display: none;
}
#check:checked~ .checkbtn-1 i::before{
    content:"\f00d";
    -webkit-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
    border-style: dashed;
    border-color: aqua;
}
#check:checked ~.checkbtn-1 ~.header__navbar-order{
   -webkit-transform: scaleX(1);
       -ms-transform: scaleX(1);
           transform: scaleX(1);
}


// Section INfo
.container{
    padding-top:4rem;
    // border-top:solid $color-primary 1px;
    position: relative;
    height:60vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
}
.info{
    &::before{
        content:"	\007B";
        position:absolute;
        font-size:6rem;
        color: rgba(#67BECE,.2);
        top: 17rem;
        left:17rem;
       
    }
    &::after{
        content:"	\2033";
        position:absolute;
        font-size:6rem;
        color: rgba(#67BECE,.30);
        top: 6rem;
        left:10rem;
       

    }

    font-family: Barlow;
    position:relative;
    left:0;
    &__heading{
        font-weight:500;
        color:$color-primary;
        font-size: 3.5rem;
        @media screen and (max-width:$bp-medium){
        font-size: 2.5rem;
        }

    &-1
    {
        -webkit-text-decoration:underline wavy rgb(9, 199, 216) 4px;
                text-decoration:underline wavy rgb(9, 199, 216) 4px;
    }

    }
    &__text{
        font-family: Heebo;
        font-weight: 300;
        font-size: 1.2rem;
        @media screen and (max-width:$bp-smallest){
            font-size: 1rem;
            }

    }
    &__button{
        width:15rem;
        font-size: 1.3rem;
        background-color: $color-button;
        border-radius: 30px;
        border:none;
        padding-top:.5rem;
        padding-bottom:.5rem;
        padding-left:1rem;
        padding-right:1rem;
        -webkit-transition: all .2s;
        -o-transition: all .2s;
        transition: all .2s;
        a{
        color:white;
        text-decoration: none; 
        

    }
    @media screen and (max-width:$bp-small){
        font-size: 1.1rem;
    }
    &:hover{
        -webkit-transform: scale(1.1);
            -ms-transform: scale(1.1);
                transform: scale(1.1);
        -webkit-box-shadow: 2px 1px 4px rgba(0,0,0,.25);
                box-shadow: 2px 1px 4px rgba(0,0,0,.25);
    }

    }
    &__img{
        position: relative;
        &::before{
            content:"\02E9";
            position: absolute;
            // color:aqua;
            z-index:10;
            font-size:4.5rem;
            color:pink;
            // fill: aqua;
            font-family:Barlow;
            top:0;
            left:0;

        }
        &::after{
            position:absolute;
            content:"\003C";
            position:absolute;
            font-size:6rem;
            color: rgba(pink,.6);
        }
        &-item{
            &-1{
          display: block;
          -o-object-fit: cover;
             object-fit: cover;
          right:1rem;
          width:170%;
          height:170%;
          padding-left:3rem;
    }
}
        @media screen and (max-width:$bp-largest){
            display: none;
        }
    }
}
//    Work section
.work{
         text-align:center;
         height:80vh;
         margin-top: 2rem;
       
         @media screen and (max-width:$bp-largest){
           margin-top:4rem;
           margin-bottom:5rem;
           padding-bottom:4rem;
        }
        @media screen and (max-width:$bp-medium){
            height:130vh;
        }
        @media screen and (max-width:$bp-small){
          height:120vh;
          margin-top: .5rem;
          }
          
    &__heading{
         font-weight: 500;
         text-transform: uppercase;
         padding-top:4rem;
    }
    &__card{
       display: -webkit-box;
       display: -ms-flexbox;
       display: flex;
       -webkit-box-orient: horizontal;
       -webkit-box-direction: normal;
           -ms-flex-direction: row;
               flex-direction: row;
       margin-top:4rem;
       width:98vw;
       @media screen and (max-width:$bp-medium){
         display: grid;
         grid-template-columns: 1fr 1fr;
    
}
@media screen and (max-width:$bp-small){
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
        &-1{
        font-family: Heebo;
     
            &-icon{
            font-size:4rem;
            color:$color-primary;
            }
            h4{
                font-weight: 500;
                font-size:1.5rem;

            }
            &-text{
                font-weight: 300;
                font-size: 1rem;
                @media screen and (max-width:$bp-small){
                   font-size: .9rem;
                  }

            }
        }
    }
}
// Challenges
.challenges{
    margin-top:6rem;
    margin-right:2rem;
    margin-left:2rem;
    // padding:2rem;
    // background-color: #3E54A3;
    width:95vw;
    //  height:150vh;  
  
    &__background{
        position: relative;
        background-color: #3E54A3;
        height:20rem;
        border-radius:10px 10px 0px 0px  ;
}
 &__heading{
    position: absolute;
    // position: absolute;
  top: 30%;
  left: 50%;
  -webkit-transform: translate(-50%, -30%);
      -ms-transform: translate(-50%, -30%);
          transform: translate(-50%, -30%);
  color:white;
  font-weight:bold;
  font-size: 1rem;
  letter-spacing: .2rem;
    
     
 }
.cards{
      display: grid;
    //   grid-template-columns: repeat(autofit,minmax(28vw,1fr));
    grid-template-columns: 1fr 1fr 1fr;
    //   grid-template-rows: 1fr 1fr;
      grid-row-gap: 2.5rem;
      grid-column-gap:1.5rem;
      @media screen and (max-width:$bp-large){
        grid-template-columns: 1fr 1fr ;
      }
      @media screen and (max-width:$bp-small){
         display: -webkit-box;
         display: -ms-flexbox;
         display: flex;
         -webkit-box-orient: vertical;
         -webkit-box-direction: normal;
             -ms-flex-direction: column;
                 flex-direction: column;
       
      }

    .card{
        width:28vw;
        height:33rem;
        margin-left: 1rem;
        border-radius:10px;
        // position:absolute;
        top:-10rem;
        z-index:10;

        @media screen and (max-width:$bp-large){
           width:37vw;
        }
        @media screen and (max-width:$bp-small){
           width:60vw;
           -ms-flex-item-align: center;
               align-self: center;
          }
          @media screen and (max-width:$bp-smallest){
          width:75vw;
           }
        &__img{
            height:50%;
            position: relative;
            // overflow: hidden;
            &-1{
                width:100%;
                height:100%;
                overflow: hidden;
                -o-object-fit: cover;
                   object-fit: cover;
                -webkit-backface-visibility: hidden;
                        backface-visibility: hidden;
                border-radius: 10px 10px 0px 0px;
                -webkit-transition: -webkit-transform .3s ease 0s;
                transition: -webkit-transform .3s ease 0s;
                -o-transition: transform .3s ease 0s;
                transition: transform .3s ease 0s;
                transition: transform .3s ease 0s, -webkit-transform .3s ease 0s;
                -webkit-transform: scale(1);
                    -ms-transform: scale(1);
                        transform: scale(1);
                &:hover{
                    -webkit-transform: scale(1.03);
                        -ms-transform: scale(1.03);
                            transform: scale(1.03);
                }
            }
            

        }
        &__up{
            position: absolute;
            right:.5rem;
            top:.5rem;
            font-size: .9rem;
            font-family: Barlow;
            background-color: #3E54A3;
            text-transform: uppercase;
            letter-spacing: 1px;


        
        }
        &__down{
         background-color: #E7EBF9;
         position: absolute;
            right:.5rem;
            top:.5rem;
            font-size: .9rem;
            font-family: Barlow;
            // background-color: #3E54A3;
            color:$color-primary;
            text-transform: uppercase;
            letter-spacing: 1px;
        }
         &__content{
            padding-left:2rem;
            .card__link{
                text-decoration: none;
                color:black;
                font-family: Barlow;
                font-size: 1.5rem;
                &:hover{
                    text-decoration: underline;
                }
               
                
            }
            .card__align{
                // display: flex;
                // flex-direction:row;
                // justify-content: space-between;
                clear:both;
                margin-top: 1.5rem;
                
            
              
                .card__head{
                    float:left;
                    font-weight:700;        
                    font-family: Barlow;
                    font-size:1.1rem;
                }
                .card__align-text{
                    display: -webkit-box;
                    display: -ms-flexbox;
                    display: flex;
                    -ms-flex-wrap: wrap;
                        flex-wrap: wrap;
                    float:right;
                    padding-right:2rem;
                    font-weight:700;
                    font-family: Barlow;
                    font-size:.9rem;
                    &-1{
                        color:white;
                        background-color: #F1B604;
                        padding-right:.5rem;
                        padding-left:.5rem;
                        padding-top: .2rem;
                        padding-bottom: .2rem;
                        border-radius:4px 0px 0px 4px;
                    }
                    &-2{
                       color:#F1B604;
                       background-color: white;
                       border-radius:0px 4px 4px 0px ;
                       border:solid #F1B604 1px;
                       padding:.2rem;
                    }
                    .card__diff-1{
                        color:white;
                        background-color: #AAD742;
                    }
                    .card__diff-2{
                        color:#AAD742;
                        background-color: white;
                        border:solid #AAD742 1px;
                    }
                    .card__diff-3{
                        color:white;
                        background-color: #ED2C49;
                    }
                    .card__diff-4{
                        color:#ED2C49;
                        background-color: white;
                        border:solid #ED2C49 1px;
                    }
                    .card__diff-5{
                        color:white;
                        background-color: #6ABCED;
                    }
                    .card__diff-6{
                        color:#6ABECD;
                        background-color: white;
                        border:solid #6ABECD 1px;
                    }
                }
            }
        }
        &__text{
             padding-top:3rem;
             padding-right:2rem;
             font-size: 1rem;
             font-weight: 300;
             font-family: Heebo;
             text-align: justify;
            
        }
    }
    

}
.challenge__anchor{
    text-align: center;
    margin-top:1rem;
    &-1{
        text-decoration: none;
        position: relative;
        color: black;
        padding-bottom:3rem;
        font-family: Heebo;
        font-weight:500;

        font-size:1.1rem;
    
    }
    &-1::after{
        content:"";
        position: absolute;
       // border-bottom:solid $color-primary 1px;
       height:2px;
       width:100%;
       top:2rem;
       background-color:$color-primary;
       left:0;
       -webkit-transform-origin:center;
           -ms-transform-origin:center;
               transform-origin:center;
       -webkit-transform: scaleX(1);
           -ms-transform: scaleX(1);
               transform: scaleX(1);
       -webkit-transition: width .4s  cubic-bezier(.74,-0.07,.46,1.16) .2s, -webkit-transform .2s;
       transition: width .4s  cubic-bezier(.74,-0.07,.46,1.16) .2s, -webkit-transform .2s;
       -o-transition: transform .2s, width .4s  cubic-bezier(.74,-0.07,.46,1.16) .2s;
       transition: transform .2s, width .4s  cubic-bezier(.74,-0.07,.46,1.16) .2s;
       transition: transform .2s, width .4s  cubic-bezier(.74,-0.07,.46,1.16) .2s, -webkit-transform .2s;

    
    }
    &-1:hover::after{
        -webkit-transform: scaleX(0);
            -ms-transform: scaleX(0);
                transform: scaleX(0);
        -webkit-transform-origin:center;
            -ms-transform-origin:center;
                transform-origin:center;
        width:3px;   
    }
}
}
//  slack
.slack{
     margin-top:4rem;
     margin-right:1.5rem;
     margin-left:1.5rem;
     height:95vh;
     margin-bottom: 5rem;
     @media screen and (max-width:$bp-smallest){
      margin-right: 0rem;
      margin-left: 0rem;
       }
   
    &__background{
        padding: 4rem;
      width:calc(100vw - 3rem);
      height:85vh;
      background-image: -o-linear-gradient(left top,rgba($color-primary,.9), rgba($color-primary,.9)),  url(/img/slack1.jpg);
      background-image: -webkit-gradient(linear,left top, right bottom,from(rgba($color-primary,.9)), to(rgba($color-primary,.9))),  url(/img/slack1.jpg);
      background-image: linear-gradient(to right bottom,rgba($color-primary,.9), rgba($color-primary,.9)),  url(/img/slack1.jpg);
      background-size: contain;
      background-repeat: no-repeat;
      background-position: right bottom;
      position: relative;
      border-radius: 10px;
      text-align: center;

      @media screen and (max-width:$bp-largest){
        height:95vh;
    }
    @media screen and (max-width:$bp-medium){
      height:95vh;
    }
    @media screen and (max-width:$bp-smallest){
     width:100%;
       }
       @media screen and (max-width:$bp-smallest){
      height:85vh;
        }
    //  &>*{
    //     position: absolute;
    //  }

    }
    &__logo{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-direction: row;
                flex-direction: row;
        -webkit-box-pack: start;
            -ms-flex-pack: start;
                justify-content: flex-start;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
        position:absolute;
        top:3rem;
        left:50%;
       
        

        &-head{
            position:relative;
            right:1rem;
            color:white;
            font-size: 2rem;
            font-weight: 700;
            text-transform:lowercase ;
            font-family:Heebo;
            letter-spacing: 1px;

            // padding-right: 2rem;
        
        }
      
    }
    &__img{
       
        position: absolute;
         right:6.5rem;
         top:0rem;
        // background-color: #3E54A3;
        // color: white;
        // filter: invert(100%);

        &-1{
            width:2rem;
            height:2rem;
        }
    }
    &__head{
       padding-top:6rem;
       color:white;
       font-size: .8rem;
       font-weight: 700;
       text-transform:uppercase ;
       font-family:Heebo;
       letter-spacing: 2px;
    }
    &__text{
        color:white;
        font-size: 1.6rem;
        font-weight: 500;
        // text-transform:uppercase ;
        font-family:Heebo;
        letter-spacing: 1.5px;
        padding-top: 1rem;
        @media screen and (max-width:$bp-medium){
        font-size: 1.3rem;
        }
        }
    &__form{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-direction: row;
                flex-direction: row;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        padding-top: 2rem;
        @media screen and (max-width:$bp-medium){
         -webkit-box-orient: vertical;
         -webkit-box-direction: normal;
             -ms-flex-direction: column;
                 flex-direction: column;
        }
        @media screen and (max-width:$bp-small){
           -webkit-box-pack: justify;
               -ms-flex-pack: justify;
                   justify-content: space-between;
          }
        &-input{
            width:30rem;
            height:3rem;

            background-color: transparent;
            border:solid white 1px;
            @media screen and (max-width:$bp-large){
                width:20rem;
            } 
            @media screen and (max-width:$bp-medium){
                width:15rem;
            }
            @media screen and (max-width:$bp-small){
               width: 12rem;
               margin-right: 20rem;
              }
        }
        &-label{
           margin-right: 1rem;
           margin-top: 1.5rem;

 
        }
    }
&__button{
    position: absolute;
      right:15rem;
       padding:1rem 2rem;
       border-radius: 20rem;
       border:solid white 1px;
       margin-top: 1.5rem;
       -webkit-transition: -webkit-transform .2s;
       transition: -webkit-transform .2s;
       -o-transition: transform .2s;
       transition: transform .2s;
       transition: transform .2s, -webkit-transform .2s;
       &:hover{
        -webkit-transform: scale(1.04);
            -ms-transform: scale(1.04);
                transform: scale(1.04);
       }
       @media screen and (max-width:$bp-largest){
       top:20rem;
       right:2rem;
    }
    @media screen and (max-width:$bp-large){
      width:12rem;
      padding:.5rem 1rem;
      top:21rem;
      
    }
    @media screen and (max-width:$bp-medium){
     font-size: .9rem;
     width:10rem;
     top:25rem;

    }
    @media screen and (max-width:$bp-small){
      right:1rem;
      }
      @media screen and (max-width:$bp-smallest){
       right:6rem;
       top:31rem;
        }

}
&__link{
     text-decoration: none;
     color: $color-primary;
     font-family: Barlow;
     font-style: italic;
     font-weight: 700;
     font-size:1rem;
     
    
     

}
&__form-input{
      
    &::-webkit-input-placeholder{
        color:#89A6D1;
        font-size: 1.3rem;
        font-family: Heebo;
        
        @media screen and (max-width:$bp-small){
         font-size: 1.1rem;
        }
     }
}
}
// Footer
.footer{
    //  height:70vh;
     &__head{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-direction: row;
                flex-direction: row;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
     }
     &__icon{
        color:#6ABECD;
        font-size:1.6rem;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-direction: row;
                flex-direction: row;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
        &>*{
            padding-right:1.5rem;
        }
        @media screen and (max-width:$bp-small){
            display: none;
          }

     }
     &__second{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-direction: row;
                flex-direction: row;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
        margin-top: 2rem;
        padding:2rem;

        @media screen and (max-width:$bp-medium){
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-column-gap: 1rem;
           -moz-column-gap: 1rem;
                column-gap: 1rem;
        }
     }

     &__head-1{
        font-family: Barlow;
        font-weight:500;
        color:$color-primary;
        font-size:2rem;
        margin-bottom:1rem;

     }
     &__text-1{
        font-family:Heebo;
        font-weight:300;
        color:black;
        font-size: 1.1rem;
     }
     &__input{
        height:3rem;
        width:15rem;
        border:solid black 1px;
        &::-webkit-input-placeholder{
            color:#757EA1;
            font-size: 1.2rem;
            font-family: Heebo;
            padding-right:.5rem;
            font-weight: 300;
           
        }

     }
     &__btn{
        margin-left: 1.5rem;
        // width:fit-content;
        padding-right:1.5rem;
        font-family: Barlow;
        font-size: 1.2rem;
        width:10rem;
        @media screen and (max-width:$bp-largest){
            margin-top: 1rem;
        }
        @media screen and (max-width:$bp-small){
            font-size: 1.1rem;
          }
     }
     &__text-2{
        
        display: grid;
        grid-template-columns: repeat(4,1fr);

        @media screen and (max-width:$bp-medium){
         padding-top: 2rem;
        }
        @media screen and (max-width:$bp-smallest){
          grid-template-columns: repeat(2,1fr);
           }
     }
     &__order{
        padding-right: 1rem;
     }
  &__heading{
  
       padding-bottom: 1.5rem;
       font-size: .9rem;
       font-weight: 700;

  }
  &__list-link{
    text-decoration: none;
    color: black;
    font-size: .9rem;
    font-family: Heebo;
    font-weight: 300;
    font-style: normal;
    &:hover{
        text-decoration: underline;
        color:black;
    }
  }
     &__end{
display: -webkit-box;
display: -ms-flexbox;
display: flex;
-webkit-box-orient: horizontal;
-webkit-box-direction: normal;
    -ms-flex-direction: row;
        flex-direction: row;
-webkit-box-pack: justify;
    -ms-flex-pack: justify;
        justify-content: space-between;
border-top:solid #DBE5E6 1px;
padding:1rem 1rem 0rem 1rem;

@media screen and (max-width:$bp-medium){
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
}
    &-copyright{
        font-size:1rem;
        font-weight:300;

    }
     }
.link-1{
    padding-right:1rem;
    @media screen and (max-width:$bp-small){
        padding-bottom: 2rem;
      }
}    
}
